In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('hsls_17_student_pets_sr_v1_0.csv')
df

,STU_ID,SCH_ID,X1NCESID,X2NCESID,STRAT_ID,PSU,X2UNIV1,X2UNIV2A,X2UNIV2B,X3UNIV1,...,W5W1W2W3W4PSRECORDS191,W5W1W2W3W4PSRECORDS192,W5W1W2W3W4PSRECORDS193,W5W1W2W3W4PSRECORDS194,W5W1W2W3W4PSRECORDS195,W5W1W2W3W4PSRECORDS196,W5W1W2W3W4PSRECORDS197,W5W1W2W3W4PSRECORDS198,W5W1W2W3W4PSRECORDS199,W5W1W2W3W4PSRECORDS200
0,10001,-5,-5,-5,-5,-5,11,1,1,1111,...,0.000000,2098.087446,1824.641398,0.000000,2431.665487,0.0,0.000000,2457.423209,0.0,2053.407870
1,10002,-5,-5,-5,-5,-5,11,1,1,1111,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
2,10003,-5,-5,-5,-5,-5,11,1,1,1111,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
3,10004,-5,-5,-5,-5,-5,10,1,7,1001,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
4,10005,-5,-5,-5,-5,-5,11,1,1,1111,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23498,35202,-5,-5,-5,-5,-5,11,1,6,1111,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
23499,35203,-5,-5,-5,-5,-5,11,1,1,1111,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
23500,35204,-5,-5,-5,-5,-5,11,1,1,1111,...,249.221073,217.039152,0.000000,236.368745,0.000000,0.0,386.330427,0.000000,0.0,0.000000
23501,35205,-5,-5,-5,-5,-5,11,1,1,1111,...,740.024218,0.000000,0.000000,0.000000,775.191655,0.0,0.000000,1006.429693,0.0,862.728189
23502,35206,-5,-5,-5,-5,-5,11,1,1,1111,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000

- 1	College-bound core curriculum
- 2	Core curriculum
- 3	College-bound core without computer sciences
- 4	Core without computer sciences
- 5	Minimal core curriculum
- 6	All other patterns
- -8	Unit non-response
- TOTAL		23,503	99.99
- 1 UnW = Unweighted

In [8]:
df.get(['X3TNEWBASIC'])

       X3TNEWBASIC
0                1
1                1
2                3
3                3
4                1
...            ...
23498            6
23499            6
23500            1
23501            4
23502            3

[23503 rows x 1 columns]

In [ ]:
df.get(['X3TAGPA12'])